body {
  background:#eee;
}

#swmm-app {
  background: white;
  width: 1102px;
  height: 700px;
  border: 1px solid #cccccc;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

#left-pane {
  width: 180px;
  border-right: 1px solid #cccccc;
  height: 100%;
  float: left;
}

#pane-header {
  height: 45px;
  background-color: rgb(247, 247, 247);
  border-bottom: 1px solid #cccccc;
}

#pane-title {
  height: 45px;
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  width: 50%;
  padding: 13px;
  cursor: default;
}

#right-pane-title {
  height: 45px;
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  width: 20%;
  padding: 13px;
  cursor: pointer;
}

.right-pane-pinned {
  transform:rotate(-45deg);
}

#left-pane-list-header {
  height: 45px;
  background-color: rgb(247, 247, 247);
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
}

#left-pane-list {
  height: 258px;
  overflow: auto;
}

#left-pane-menu {
  color: black;
}

#left-pane-treeview {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  height: 350px;
  overflow: auto;
}

#main-pane {
  width: 920px;
  height: 100%;
  float: left;
}

#main-pane-body {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  width: 920px;
  height: 600px;
}

#right-pane {
  width: 200px;
  border-left: 1px solid #cccccc;
  height: 100%;
  float: left;
}

#swmm-file-input {
  display: none;
}

#swmm-menu {
  background-color: rgb(247, 247, 247);
}

summary {
  display: list-item;
}

.treeview-root-node {
  cursor: pointer;
  padding-top: 5px;
}

.treeview-node {
  cursor: pointer;
  padding-top: 5px;
  margin-left: 20px;
}

.treeview-leaf-node {
  margin-left: 20px;
  height: 24px;
  padding-top: 4px;
}

.treeview-leaf-node .selected {
  background: #cccccc;
  height: 20px;
}

.treeview-leaf-node .selected:hover {
  background: #cccccc;
}

.treeview-leaf-node span:hover {
  background: #f0f0f0;
}

.list-item {
  border-bottom: 1px dotted #ddd;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

span.edit-item {
  float: right;
  visibility: hidden;
}

.list-item:hover {
  background-color: #f0f0f0;
}

.list-item.selected {
  background-color: #e8eff6;
}

.list-item.selected .edit-item {
  visibility: visible
}

.list-item.selected:hover {
  background-color: #e8eff6;
}