$menu-item-hover-background-color: #f0f0f0;

@import "../node_modules/bulma/bulma.sass";

// START patch bulma styles
.menu-list a {
  font-size: 14px;
}

.menu-list li ul {
  margin-top: 0px;
}

.panel {
  border: 0px;
}

.panel-block {
  height: 30px;
  border-right: 0px;
  border-left: 0px;
  padding-right: 0px;
  &.is-active {
    border-left: 1px solid #3273dc;
  }
}

a:hover {
  text-decoration: none;
}
// END patch bulma styles

$borderColor: #cccccc;
$treeNodeHoverColor: #f0f0f0;
$treeNodeSelectedColor: #cccccc;
$listItemHoverColor: #f0f0f0;
$listItemSelectedColor: #3273dc;
$listItemSelectedFontColor: white;

body {
  font-size: 14px;
}

th {
  &.normal-col {
    font-weight: normal;
  }

  &.property-col {
    font-weight: normal;
    width: 55%;
  }

  &.value-col {
    font-weight: normal;
    width: 45%;
  }
}

#swmm-online {
  min-height: 768px;
  min-width: 1024px;
}

#swmm-app {
  background: white;
  position: fixed;
  top: 52px;
  bottom: 2px;
  width: 100%;
  border: 1px solid $borderColor;
  min-height: 600px;
  min-width: 1000px;
}

#left-pane {
  width: 200px;
  border-right: 1px solid $borderColor;
  height: 100%;
  float: left;
  position: relative;
}

#pane-header {
  height: 45px;
  background-color: rgb(247, 247, 247);
  border-bottom: 1px solid $borderColor;
}

#right-pane-pin-btn {
  height: 45px;
  font-weight: 700;
  font-size: 14px;
  width: 20%;
  padding: 13px;
  cursor: pointer;
  display: inline-block;
}

#right-pane-close-btn {
  height: 45px;
  font-weight: 700;
  font-size: 14px;
  width: 20%;
  padding: 13px;
  cursor: pointer;
  float: right;
  display: inline-block;
}

.right-pane-unpinned {
  transform:rotate(45deg);
}

#left-pane-list-header {
  height: 45px;
  background-color: rgb(247, 247, 247);
  border-bottom: 1px solid $borderColor;
  border-top: 1px solid $borderColor;
}

#left-pane-list {
  height: calc(100% - 467px);
  overflow: auto;
}

#left-pane-menu {
  color: black;
}

#left-pane-treeview {
  height: 350px;
  overflow: auto;
}

.menu-list {
  .expanded {
    padding-left: 7px;
    span {
      padding-left: 4px;
    }
  }

  .unexpanded {
    padding-left: 10px;
    span {
      padding-left: 4px;
    }
  }
}

#main-pane {
  width: calc(100% - 200px - 250px);
  height: 100%;
  float: left;
}

#main-pane-body {
  width: 100%;
  height: calc(100% - 45px);
}

.right-pane {
  width: 250px;
  border-left: 1px solid $borderColor;
  height: 100%;
  float: right;
  position: absolute;
  right: 0px;
}

#right-pane-body {
  height: 653px;
}

#swmm-file-input {
  display: none;
}

#swmm-property-list {
  width: 100%;
}

.content{
  p {
    font-size: 16px;
    font-weight: 400;
  }

  a {
    color: #3273dc;
    &:hover {
      color: #3273dc;
    }
  }
}