$menu-item-hover-background-color: #f0f0f0;

@import "../node_modules/bulma/bulma.sass";

// START patch bulma styles
.menu-list a {
  font-size: 14px;
}

.menu-list li ul {
  margin-top: 0px;
}

.panel {
  border: 0px;
}

.panel-block {
  height: 30px;
  border-right: 0px;
  border-left: 0px;
  padding-right: 0px;
  &.is-active {
    border-left: 1px solid #3273dc;
  }
}

a:hover {
  text-decoration: none;
}
// END patch bulma styles

$borderColor: #cccccc;
$treeNodeHoverColor: #f0f0f0;
$treeNodeSelectedColor: #cccccc;
$listItemHoverColor: #f0f0f0;
$listItemSelectedColor: #3273dc;
$listItemSelectedFontColor: white;

body {
  font-size: 14px;
}

tbody th {
  font-weight: normal;
  width: 50%;
}

#swmm-app {
  background: white;
  width: 1102px;
  height: 700px;
  border: 1px solid $borderColor;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

#left-pane {
  width: 180px;
  border-right: 1px solid $borderColor;
  height: 100%;
  float: left;
}

#pane-header {
  height: 45px;
  background-color: rgb(247, 247, 247);
  border-bottom: 1px solid $borderColor;
}

#pane-title {
  height: 45px;
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  width: 50%;
  padding: 13px;
  cursor: default;
}

#right-pane-pin-btn {
  height: 45px;
  font-weight: 700;
  font-size: 14px;
  width: 20%;
  padding: 13px;
  cursor: pointer;
  display: inline-block;
}

#right-pane-close-btn {
  height: 45px;
  font-weight: 700;
  font-size: 14px;
  width: 20%;
  padding: 13px;
  cursor: pointer;
  float: right;
  display: inline-block;
}

.right-pane-unpinned {
  transform:rotate(45deg);
}

#left-pane-list-header {
  height: 45px;
  background-color: rgb(247, 247, 247);
  border-bottom: 1px solid $borderColor;
  border-top: 1px solid $borderColor;
}

#left-pane-list {
  height: 227px;
  overflow: auto;
}

#left-pane-menu {
  color: black;
}

#left-pane-treeview {
  padding: 10px;
  height: 350px;
  width: 180px;
  overflow: auto;
  border-right: 1px solid $borderColor;
}

#main-pane {
  width: 920px;
  height: 100%;
  float: left;
}

#main-pane-body {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  width: 920px;
  height: 600px;
}

#swmm-app-dock {
  position: relative;
  height: 700px;
}

.right-pane {
  width: 200px;
  border-left: 1px solid $borderColor;
  height: 100%;
  float: right;
  position: absolute;
  right: 0px;
}

#right-pane-body {
  height: 653px;
}

#swmm-file-input {
  display: none;
}

#swmm-menu {
  background-color: rgb(247, 247, 247);
  height: 40px;
}